<div>
  <div class="row background">
    <div class="col-sm-2 p-0" style="height:120vh;  background-color: rgba(0,0,0,0.52);">
      <div class="list-group ng-dark">
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-film"></i> Bán vé </a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-ticket-perforated-fill"></i> Quản lí đặt vé</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-person-fill"></i> Quản lí nhân viên</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-credit-card-2-back-fill"></i> Quản lí thành viên</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-camera-reels-fill"></i> Quản lí phim</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-calendar-week-fill"></i> Quản lí khuyến mãi</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-camera-video-fill"></i> Quản lí phòng chiếu</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-bar-chart-line-fill"></i> Quản lí thống kê </a>
      </div>
    </div>
    <div class="col-sm-10 p-4">
      <div class="container border" style="background-color: rgba(0,0,0,0.7)">
        <h1 class="mt-4 mb-4" style="color: red;font-weight: bold">Danh Sách Thông Tin Thành Viên</h1>
        <hr style="color: white;  ">
        <form class="form-inline" method="get" [formGroup]="searchForm" (ngSubmit)="getAll()">
          <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm"
                 formControlName="username">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <br>
        <table class="table text-center table-responsive-md">
          <thead style="color: red">
          <tr>
            <th scope="col" width=auto class="font-weight-bold" style="text-align: center">Mã Thành Viên</th>
            <th scope="col" width=auto class="font-weight-bold" style="text-align: center">Tên Thành Viên</th>
            <th scope="col" width=auto class="font-weight-bold" style="text-align: center">Số CMND</th>
            <th scope="col" width=auto class="font-weight-bold" style="text-align: center">Email</th>
            <th scope="col" width=auto class="font-weight-bold" style="text-align: center">Số Điện Thoại</th>
            <th scope="col" width=auto class="font-weight-bold" style="text-align: center">Địa Chỉ</th>
          </tr>
          </thead>
          <tbody style="color: white">
          <tr *ngFor="let item of accounts| paginate:{itemsPerPage:10, currentPage:p};">
            <td style="text-align: center">{{item.id}}</td>
            <td style="text-align: left">{{item.fullname}}</td>
            <td style="text-align: center">{{item.idCard}}</td>
            <td style="text-align: left">{{item.email}}</td>
            <td style="text-align: center">{{item.phone}}</td>
            <td style="text-align: left">{{item.address}}</td>
            <td style="text-align: center">
              <a class="nav-link" [routerLink]="['/account/edit',item.id]">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
              <button class="btn btn-outline-warning" [routerLink]="['/account/edit',item.id]"><i class="bi bi-pencil-square"></i></button>
          </tr>
          </tbody>
        </table>
        <!--    Phân trang-->
        <div class="d-flex mt-4 flex-wrap">
          <p class="text-muted">PAGE</p>
          <nav class="ml-auto">
            <pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<!--<div class="modal" id="myModal">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Bạn có muốn xoá phim có tên :</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--      </div>-->
<!--      &lt;!&ndash; Modal body &ndash;&gt;-->
<!--      <div class="modal-body">-->
<!--        <h5 style="color: blue">{{name | uppercase}}</h5>-->
<!--        <hr>-->
<!--        <h6 style="color: red">* Lưu ý: Thao tác này không thể hoàn tác. </h6>-->
<!--      </div>-->
<!--      &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary" data-dismiss="modal">Huỷ</button>-->
<!--        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteFilm(id)">Xoá</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Modal Detail-->
<!--<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết phim. </h5>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p><b>Hình ảnh: </b><span><img *ngIf="img" [src]="transform(img)" width="200px" height="300px" alt=""></span>-->
<!--        </p>-->
<!--        <p><b>Phim: </b><span> {{name}} </span></p>-->
<!--        <p><b>Ngày khởi chiếu: </b><span> {{startDate | date:'dd-MM-yyyy'}} </span></p>-->
<!--        <p><b>Hãng phim: </b><span> {{studioName}} </span></p>-->
<!--        <p><b>Thể loại: </b><span *ngFor="let film of films;">-->
<!--          <li *ngFor="let categoryFilm of film.categoryFilms">-->
<!--                {{categoryFilm.category_id.nameCategory}}-->
<!--          </li></span>-->
<!--        <p><b>Đạo diễn: </b><span> {{director}} </span></p>-->
<!--        <p><b>Diễn viên: </b><span> {{actor}} </span></p>-->
<!--        <p><b>Phiên bản: </b><span> {{version}} </span></p>-->
<!--        <p><b>Thời lượng: </b><span> {{duration}} phút</span></p>-->
<!--        <p style="text-align: justify"><b>Nội dung: </b><span> {{content}}</span></p>-->
<!--        <p><b>Trailer: </b><br></p>-->
<!--        <iframe width="460" height="315" [src]="transform(trailer)" *ngIf="trailer" title="YouTube video player"-->
<!--                frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                allowfullscreen></iframe>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
