<p>film-module works!</p>
<div class="header">
  <h2>Danh sách phim </h2>
  <div class="header_title">
    <div class="menu_film">
      <button>Phim đang chiếu</button>
      <button>Phim sắp chiếu</button>
    </div>
    <div class="input_search">
      <input type="text" placeholder="Tìm kiếm phim, diễn viên...">
      <button><i class='bx bx-search-alt-2'></i></button>
    </div>
  </div>
</div>
<hr>
<div class="body">
  <div class="card">
    <img src="./img/loithoattrenkhong.jpg" alt="">
    <div class="card_film">
      <h2>Air escape-Lối thoát trên không</h2>
      <p>Thể loại: Hành động</p>
      <p>Thời lượng: 150 phút</p>
      <p>Khởi chiếu: 20/7/2022</p>
      <button>Chi tiết</button>
      <button>Đặt vé</button>
    </div>
  </div>
  <div class="card">
    <img src="./img/thor.jpg" alt="">
    <div class="card_film">
      <h2>Thor: Tình Yêu Và Sấm Sét</h2>
      <p>Thể loại: Hành động</p>
      <p>Thời lượng: 150 phút</p>
      <p>Khởi chiếu: 02/5/2020</p>
      <button>Chi tiết</button>
      <button>Đặt vé</button>
    </div>
  </div>
  <div class="card">
    <img src="./img/Toithayhoavangtrencoxanh.jpg" alt="">
    <div class="card_film">
      <h2>Tôi thấy hoa vàng trên cỏ xanh</h2>
      <p>Thể loại: Tình cảm</p>
      <p>Thời lượng: 150 phút</p>
      <p>Khởi chiếu: 21/09/2017</p>
      <button>Chi tiết</button>
      <button>Đặt vé</button>
    </div>
  </div>
  <div class="card">
    <img src="./img/Train-To-Busan-Poster.png" alt="">
    <div class="card_film">
      <h2>Train to Busan-Chuyến tàu sinh tử</h2>
      <p>Thể loại: Kinh dị, tình cảm</p>
      <p>Thời lượng: 150 phút</p>
      <p>Khởi chiếu: 15/05/2022</p>
      <button>Chi tiết</button>
      <button>Đặt vé</button>
    </div>
  </div>
  <div class="card">
    <img src="./img/poster_v_ng_t_c_m_l_ng_-_19.11.2021_1_.jpg" alt="">
    <div class="card_film">
      <h2>Phần II: Vùng đất câm lặng</h2>
      <p>Thể loại: Kinh dị</p>
      <p>Thời lượng: 150 phút</p>
      <p>Khởi chiếu: 19/02/2022</p>
      <button>Chi tiết</button>
      <button>Đặt vé</button>
    </div>
  </div>
</div>
