<div>
  <div class="header">
<!--    <h2>Danh sách phim </h2>-->
    <div class="header_title">
      <div class="menu_film">
        <button>Phim đang chiếu</button>
        <button>Phim sắp chiếu</button>
      </div>
      <form class="form-inline" method="post" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm" formControlName="name">
<!--        <small *ngIf="searchForm.get('name').valid && searchForm.get('name').touched">nhập sai</small>-->
        <button [disabled]="searchForm.get('name')" class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="body">
<!--    <div *ngFor="let film of films" class="card">-->
<!--      <img [src]="film.filmImgs[0].urlImg" alt="" id="imgstyle">-->
<!--      <div class="card_film">-->
<!--        <div><h2>{{film.name}}</h2></div>-->
<!--        <div>-->
<!--          <p>Thể loại: {{film.director}}</p>-->
<!--          <p>Thời lượng: {{film.duration}}</p>-->
<!--          <p>Khởi chiếu: {{film.startDate | date: "dd/MM/yyyy"}}</p>-->
<!--        </div>-->
<!--        <div>-->
<!--        <button>Chi tiết</button>-->
<!--        <button>Đặt vé</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="d-flex mt-4 flex-wrap m-3">-->
<!--    <p class="text-muted"></p>-->
<!--    <nav class="ml-auto">-->
<!--      <ul class="pagination separated pagination-info">-->
<!--        <li class="page-item"><button class="page-link" (click)="previousPage()" >Trang trước</button></li>-->
<!--        <li class="page-item"><span class="page-link"><span>{{indexPagination}}</span><span>/</span><span>{{totalPages}}</span></span></li>-->
<!--        <li class="page-item"><button class="page-link" (click)="nextPage()" >Trang kế</button></li>-->
<!--      </ul>-->
<!--    </nav>-->
    <div id="carouselExampleSlidesOnly" class="carousel slide d-flex" data-ride="carousel">
      <div class="carousel-inner" *ngFor="let film of films" class="card">
        <div class="carousel-item active ">
          <img [src]="film.filmImgs[0].urlImg" id="imgstyle" src="..." alt="First slide">
          <div class="card_film">
            <div><h2>{{film.name}}</h2></div>
            <div>
              <p>Thể loại: {{film.director}}</p>
              <p>Thời lượng: {{film.duration}}</p>
              <p>Khởi chiếu: {{film.startDate | date: "dd/MM/yyyy"}}</p>
            </div>
            <div>
              <button>Chi tiết</button>
              <button>Đặt vé</button>
        </div>
        <div class="carousel-item">
          <img [src]="film.filmImgs[0].urlImg" id="imgstyle" src="..." alt="Second slide">
          <div class="card_film">
            <div><h2>{{film.name}}</h2></div>
            <div>
              <p>Thể loại: {{film.director}}</p>
              <p>Thời lượng: {{film.duration}}</p>
              <p>Khởi chiếu: {{film.startDate | date: "dd/MM/yyyy"}}</p>
            </div>
            <div>
              <button>Chi tiết</button>
              <button>Đặt vé</button>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="Third slide">
        </div>
      </div>
    </div>
  </div>
</div>
